.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-nav,
.month-nav {
    display: flex;
    align-items: center;
}

.month-nav {
    width: 144px;
}

.month-text {
    flex-grow: 1;
    text-align: center;
}

.year-nav svg,
.month-nav svg {
    color: var(--color-icon);
}

.calendar-header button {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.btn-year {
    font-size: 22px;
}

.btn-month {
    font-size: 16px;
}