.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-nav,
.month-nav {
    display: flex;
    align-items: center;
}

.month-nav {
    width: 144px;
}

.month-text {
    flex-grow: 1;
    text-align: center;
}

.year-nav svg,
.month-nav svg {
    color: var(--color-icon);
}

.calendar-header button {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.btn-year {
    font-size: 22px;
}

.btn-month {
    font-size: 16px;
}

.btn-today {
    padding: 4px 8px;
    background-color: var(--color-body-bg);
    color: var(--color-icon);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-today:hover, .btn-today:focus {
    background-color: var(--color-accent);
    transform: scale(1.05);
}
