.calendar-content {
    margin-top: var(--margin-content);
    padding-bottom: 10px;
    background-color: #fff;
    height: 550px;
    border-radius: 1.5rem;
    overflow: hidden;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}
.calendar-header {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-day {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calendar-day:not(.null) {
    cursor: pointer;
}

.calendar-day:not(.null):hover {
    background-color: var(--color-accent);
}

.selected {
    background-color: var(--color-accent);
}